:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;

  --primario: #784d3c;
  --gris: #e1e1e1e1;
  --blanco: #ffffffff;
  --negro: #000000;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/** Globales **/
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

/** Header **/
.webp .header {
  background-image: url(../img/banner.webp);
}
.no-webp .header {
  background-image: url(../img/banner.jpg);
}
.header {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__texto {
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
}
.barra {
  padding: 3rem;
}
.logo {
  color: var(--blanco);
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}
.navegacion {
  margin-top: 3rem;
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}
.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}
.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
  cursor: pointer;
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--primario);
}
.cursos {
  list-style: none;
}
.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;
}
.widget-curso__label,
.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.widget-curso__info,
.curso__info {
  font-weight: 400;
}
.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info {
  font-size: 2rem;
}
/** Footer **/
.footer {
  background-color: var(--negro);
  padding: 2rem 0;
}
/**cursos**/
.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
.curso:last-of-type {
  border: none;
}

/**contacto**/
.webp .contacto-bg {
  background-image: url(../img/contacto.jpg)
}
.no-webp .contacto-bg {
  background-image: url(../img/contacto.jpg);
}
.contacto-bg {
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.formulario {
  background-color: var(--blanco);
  margin: 2rem auto 0 auto;
  width: 100%;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}
.campo__label {
  flex: 0 0 7rem;
  text-align: right;
}
.campo__field {
  flex: 1;
  border: 1px solid var(--gris);
}
.campo__field--textarea {
  height: 200px;
}

/** @MEDIAS**/
@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 0;
  }
  .header__texto {
    margin-top: 15rem;
  }
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
  .boton {
    display: inline-block;
  }

  /** Sobre Nosotros **/
  .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  /**cursos**/
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  /** contacto **/
  .formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
  }
  .campo__label {
    flex: 0 0 9rem;
    text-align: right;
  }
}
